@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  /* To prevent horizontal scroll issues */
  background-color: black;
  color: white;
  word-break: break-word;
}

.icon-name {
  word-break: keep-all;
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.custom-cursor-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9999;
  /* Ensure the canvas is on top */
}

.parallax {
  position: relative;
  z-index: 1;
  /* Sections on top of the star background */
}

.fade-in-out {
  opacity: 0;
  /* Start hidden */
  transition: opacity 2s ease;
  /* Smooth transition for fade effect */
}

.visible {
  opacity: 1;
  /* Fully visible */
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.glow-button:hover {
  color: white;
  text-shadow:
    -2px 2px 2px rgba(0, 240, 255, 1),
    2px -2px 4px rgba(197, 118, 246, 1),
    -4px 4px 6px rgba(0, 240, 255, 0.6),
    4px -4px 8px rgba(197, 118, 246, 0.6);
}

.glow-icon:hover {
  filter: drop-shadow(-2px 2px 2px rgba(0, 240, 255, 1))
    /* Blue shadow from bottom-left */
    drop-shadow(2px -2px 4px rgba(197, 118, 246, 1))
    /* Purple shadow towards top-right */
    drop-shadow(-4px 4px 6px rgba(0, 240, 255, 0.6))
    /* Additional blue for a softer gradient */
    drop-shadow(4px -4px 8px rgba(197, 118, 246, 0.6));
  /* Additional purple for a softer gradient */
}

.underline-animation {
  position: relative;
  display: inline-block;
  color: #60a5fa;
  text-decoration: none;
}

.underline-animation::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.underline-animation:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}